.carousel .carousel-indicators button {
    width: 10px;
   height: 10px;
   border-radius: 100%;
 }



@media screen and (min-width:992px) {
    .carousel-img {
        position: absolute;
        top: 50%;
        transform: translateY(-25%);
    }
    .h-60 {
        width: 100% !important;
        height: 60vh;
    }
}
